<div id="contact_photo">
  <%= image_tag('joe_and_gavin.jpg')%>
</div>

<div id="contact_form" align="center">
  <h3>Send a Message to Nae Nae Pony Productions</h3>

  <%= form_for @contact do |f| %>
    <div class="contact_field">    
      <%= f.label :name %>
      <%= f.text_field :name, :required => true %>
    </div>
    <div class="contact_field">
      <%= f.label :email %>
      <%= f.text_field :email, :required => true %>
    </div>
    <div class="contact_field">
      <%= f.label :message %>
      <%= f.text_area :message, :as => :text, :required => true %>
    </div>
    <div class= "hidden">
      <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.submit 'Send message', class:"btn btn-warning" %>
    </div>
  <% end %>
</div>
