<div id="albums_title">
  <h1>Albums produced by Nae Nae Pony Productions:</h1>
</div>
<br><br>

<div class="col-xs-12">

  <ul>
    <div class="col-xs-6" id="album_left_column">
      <% @albums.each do |album| %>
        <li><h2><b><%= link_to album.name, album_path(album) %></b></h2><h5>released in: <%= album.year_released %></h5></li>
        <li><h4>by: <%= album.contributors %></h4></li>
        <li><h3><%= button_to "Buy Now", new_album_charge_path(album), id:"buy_album#{album.id}", class: 'btn btn-warning', method: :get, remote: true %></h3></li>
        <%= render 'charges/new', album: album %>
        <br><br><br><br><br><br><br><br>
      <% end %>
    </div>
    <div class="col-xs-6" id="album_right_column">
      <div id="supper_time_album_cover">
        <%= image_tag("supper_time.jpg") %>
      </div>
      <div id="god_album_cover">
        <%= image_tag("god.jpg") %>
      </div>
      <div id="something_in_nothing_album_cover">
        <%= image_tag("something_in_nothing.jpg") %>
      </div>
    </div>
  </ul>
</div>








<%= link_to "New Album", new_album_path %>
