<div id="albums_title">
  <h1>Albums produced by Nae Nae Pony Productions:</h1>
</div>
<br><br>

<div class="col-xs-12">

  <ul>
    <div class="col-xs-6" id="album_left_column">
      <% @albums.each do |album| %>
        <li><h2><b><%= album.name %></b></h2><h5>released in: <%= album.year_released %></h5></li>
        <li><h4>by: <%= album.contributors %></h4></li>
        <li><h3><%= button_to "Buy Now", new_album_charge_path(album), id:"buy_album#{album.id}", class: 'btn btn-warning', method: :get, remote: true %></h3></li>
        <%= render 'charges/new', album: album %>
        <br>
        <li><h2>Song list:</h2>
          <ol>
            <% album.songs.each do |song| %>
              <li><h4 class='song_title'><%= song.title %> - <small><%= song.length %></small></h4></li>
            <% end %>
          </ol>
        </li>
        <br><br><br><br><br><br><br><br>
      <% end %>
    </div>
    <div class="col-xs-6" id="album_right_column">
      <div id="album_cover">
        <% @albums.each do |album| %>
          <%= image_tag('god.jpg') %>
        <% end %>
      </div>
    </div>
  </ul>
</div>








<%= link_to "New Album", new_album_path %>
