<h1>Albums produced by Nae Nae Pony Productions:</h1>

<ul>
  <% @albums.each do |album| %>
    <li><%= album.name %></li>
    <li>by: <%= album.contributors %></li>
    <li>released in: <%= album.year_released %></li>
    <li>purchase for only: <%= album.price %></li>
    <li>Song list: <%= album.songs %></li>
  <br><br>
  <% end %>
</ul>







<%= link_to "New Album", new_album_path %>
