<div class="col-xs-6" id="album_left_column">
  <h1><%= @album.name %></h1>
  <h4>by: <%= @album.contributors %></h4>

  <h2>Song list:</h2>
    <ol>
      <% @album.songs.each do |song| %>
        <li><h4 class='song_title'><%= song.title %> - <small><%= song.length %></small></h4></li>
      <% end %>
    </ol>
  <h3><%= button_to "Buy Now", new_album_charge_path(@album), id:"buy_album#{@album.id}", class: 'btn btn-warning', method: :get, remote: true %></h3>
  <%= render 'charges/new', album: @album %>
</div>

<div class="col-xs-6" id="album_right_column">
</div>
