<div id="main_index_photo">
  <%= image_tag('joe_mixing.jpg') %>
</div>


<div class="col-xs-3">
  <p><%= link_to "Add a post", new_post_path, id: "new_post_button", remote: true %></p>
</div>

<div class="col-xs-6">
  <div id="news_feed_header">
    <h2>Fresh from NNPP:</h2>
    <br>
  </div>
  <div id="news_feed_content">
    <ul>
      <% @posts.each do |post| %>
        <li>
          <span class="post_title"><h2><%= link_to post.post_title, post_path(post) %></h2></span><p> - posted <%= time_ago_in_words(post.created_at) %> ago</p>
          <br>
          <span class="post_body"><p><%= post.post_body %></p></span>
          <br>
        </li>
        <br><br>
      <% end %>
    </ul>
  </div>
</div>
