<div id="main_index_photo">
  <%= image_tag('joe_mixing.jpg') %>
</div>


<div class="col-xs-3">

</div>

<div class="col-xs-6">
  <div id="news_feed_header">
    <h2>Fresh from Nae Nae Pony Productions:</h2>
    <br><br>
  </div>
  <div id="news_feed_content">
    <ul>
      <% @posts.order(created_at: :desc).each do |post| %>
        <li class="news_feed_story">
          <span class="post_title"><h2><%= link_to post.post_title, post_path(post) %></h2></span><span class="post_time"><p> - posted <%= time_ago_in_words(post.created_at) %> ago</p></span>
          <br>
          <span class="post_body"><h4><%= truncate(post.post_body, length: 200, separator: ' ') %></h4></span>
          <br>
        </li>
        <br><br>
      <% end %>
    </ul>
  </div>
</div>


<% if current_user && current_user.admin? %>
  <%= link_to "Add a post", new_post_path, id: "new_post_button", remote: true %>
<% end %>
